.render {
  background-color: #e8f1f2;
  color: #34495e;
  text-align: center;
  width: 40%;
  height: 70%;
  margin-left: 55%;
  margin-top: 10%;
  opacity: 95%;
  @media (max-width: 650px) {
    width: 70%;
    height: 60%;
  }
}

.align {
  margin: 0 auto;
}

.warning {
  color: red;
  font-size: 11px;
  opacity: 70%;
}

.send {
  background-color: #05668d;
  color: #e8f1f2;
  font-size: 16px;
  width: 100px;
  height: 25px;
  border-radius: 1rem;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.send:hover {
  background-color: #05668d;
  color: #e8f1f2;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  background-image: url("../../img/signup.svg");
  background-repeat: no-repeat;
    width: 1120px;
  height: 699px;
  margin: 0 auto;
  margin: 0 auto;
}

.select {
  cursor: pointer;
}
