.root {
  width: 90%;
  max-width: 1400px;
  margin: 10vh auto;
  display: flex;
}

.profile {
  width: 50%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-right: 2px solid #34495e;
}

.profile-data {
  width: 100%;
  display: block;
  padding: 5%;
}

.profile-about {
  display: block;
  padding: 5%;
}

.section {
  text-align: center;
  width: 50%;
  margin-left: 2vw;
}

.technologies-title {
  height: 35px;
  background-color: rgb(232, 238, 243);
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #34495e;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies-title svg {
  color: #05668d;
  font-size: 1.5rem;
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .root {
    display: flex;
    flex-direction: column;
  }
  .profile {
    width: 100%;
    border: none;
  }
  .section {
    width: 100%;
  }
}
